.footer {
  padding: 3.438em 10.4% 0 10.4%;

  .footerBlock {
    width: 100%;

    .footerBody {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;

      .columns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 60%;

        .aboutCompany {
          display: flex;
          flex-direction: column;
          margin: 0 1em 1.5em 0;

          .links {
            display: inline-flex;
            flex-direction: column;
            justify-content: space-between;
            height: 3em;
          }
        }

        .LinkMenu {
          min-width: 25.5em;
        }
      }

      .Contacts {

        .title {
          text-align: end;
        }

        .contactsList {
          display: flex;
          flex-direction: column;
          align-items: end;

          &>* {
            margin-bottom: 1.12em;
          }
        }
      }
    }
  }


  .footerBottom {
    display: flex;
    flex-direction: column;
    align-items: end;
    font-family: 'Montserrat';
    font-size: 0.75rem;
    color: #E4E5EA;
    padding: 1.667em 0;
    margin-top: 1em;

    &>* {
      color: #E4E5EA;
    }
  }
}

.title {
  font-family: 'Inter';
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #656566;
  margin-bottom: 1.429em;
}

.links>* {
  font-family: 'Inter';
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  color: #E4E5EA;
}

@media screen and (max-width: 837px) {

  .footer .footerBlock .footerBody .columns {
    width: min-content;
    margin-bottom: 2em;
  }

  .footer .footerBlock .footerBody .Contacts .title {
    text-align: start;
  }

  .footer .footerBlock .footerBody .Contacts .contactsList {
    align-items: start;
  }
}