.page {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  color: #E4E5EA;
  display: flex;
  justify-content: space-between;
  font-family: 'Inter';
  margin-bottom: 3.4em;

  .slogan {
    width: 22.625em;

    .header {
      font-size: 3rem;
      font-weight: 400;
    }

    .brand {
      font-size: 3rem;
      font-weight: 900;
      background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    .sloganBottom {
      font-family: 'Montserrat';
      font-size: 1.125rem;
      font-weight: 400;
      width: 15.278em;
      margin-top: 1.6em;
    }
  }

  .offerBlock {
    width: 18.75em;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
    padding: 1em 0;

    .offerBlockTitle {
      margin-bottom: 2.5em;
      font-size: 1.125em;
      letter-spacing: 0.5px;
      margin-bottom: 2.3em;
    }

    .gradient_1,
    .gradient_2 {
      font-size: 1.125rem;
      font-weight: 700;
    }

    .gradient_1 {
      background: linear-gradient(92deg, #fca045, #FD1D1D 80%), #E4E5EA;
      text-transform: uppercase;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    .gradient_2 {
      background: linear-gradient(92deg, #FCB045 50%, #FD1D1D 140%), #E4E5EA;
      text-transform: uppercase;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    .items {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 2.1em;
    }

    .items>* {
      width: 8.5em;
      margin-bottom: 1.875em;
    }

    .CallToAction {
      width: 16.375em;
    }
  }
}